<%- include('./partials/head') %>

  <article>

    <section>
      <h1>
        <%= data.name %>
          <%= data.surname %>
      </h1>
      <h2>Student FDND</h2>
      <div> <img src="/images/IMG_0816.JPG" alt="photo" class="center"> </div>
    </section>

    <section>
      <section></section>
      <section>
        <h3>
          <%= data.bio %>
        </h3>
        <p>
          <%= data.github_handle %>
        </p>
        <p>
          <%= data.email %>
        </p>
        <p>
          <%= data.phone_number %>
        </p>
      </section>
    </section>

    <section>
      <section>
        <button id="card-open">Click<i class='bx bxs-chevrons-right'></i></button>
      </section>
      <section>
        <p> <a href="https://www.instagram.com/ellenoor_bok/"><img src="/images/pngwing.com (1).png" class="instagram">
          </a>
        </p>
        <p> <a href="https://www.linkedin.com/in/ellenoor-bok-029096290/"><img src="/images/pngwing.com (2).png"
              class="linkedin">
          </a>
        </p>
        <p> <a href="https://www.facebook.com/ellenoor.bok/"><img src="/images/pngwing.com (4).png" class="facebook">
          </a>
        </p>
      </section>
    </section>

  </article>


  <%- include('./partials/foot') %>